* {
  background-image: none;
  box-shadow: none;
  font-size: 12px;
}

window {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  border-radius: 0;
  text-decoration-color: #ffffff;
  box-shadow: none;
  text-shadow: none;
  color: #dcd7ba;
  background-color: rgba(31, 31, 40, 0.95);
  border-style: solid;
  border-width: 0px;
  min-width: 150px;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
}

button:hover {
  background-color: transparent;
  outline-style: none;
}

#lock {
  background-image: image(url("/home/arfad/.config/wlogout/icons/lock.png"));
  border-radius: 0px 0px 0px 0px;
}

#logout {
  background-image: image(url("/home/arfad/.config/wlogout/icons/logout.png"));
  border-radius: 0px 0px 0px 0px;
}

#schedule {
  background-image: image(
    url("/home/arfad/.config/wlogout/icons/suspend.png")
      /* url("/usr/share/wlogout/icons/suspend.png"), */
  );
  border-radius: 0px 10px 10px 0px;
}

#shutdown {
  background-image: image(
    /* url("/usr/share/wlogout/icons/shutdown.png"), */
    url("/home/arfad/.config/wlogout/icons/shutdown.png")
  );
  border-radius: 10px 0px 0px 10px;
}

#hibernate {
  background-image: image(
    /* url("/usr/share/wlogout/icons/hibernate.png"), */
    url("/home/arfad/.config/wlogout/icons/hibernate.png")
  );
  border-radius: 0px 0px 0px 0px;
}

#reboot {
  background-image: image(
    /* url("/usr/share/wlogout/icons/reboot.png"), */
    url("/home/arfad/.config/wlogout/icons/reboot.png")
  );
  border-radius: 0px 0px 0px 0px;
}
