* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.4);
}

button {
  border-radius: 0;
  border-color: black;
  text-decoration-color: #ffffff;
  color: #ffffff;
  background-color: #1a1c21;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:hover {
  background-color: rgba(66, 66, 66, 0.2);
  outline-style: none;
}

#lock {
  background-image: image(
    url("/home/arfad/.config/wlogout/icons/lock_white.png")
  );
}

#logout {
  background-image: image(url("/home/arfad/.config/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/home/arfad/.config/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(
    url("/home/arfad/.config/wlogout/icons/hibernate_white.png")
  );
}

#shutdown {
  background-image: image(
    url("/home/arfad/.config/wlogout/icons/shutdown_white.png")
  );
}

#reboot {
  background-image: image(url("/home/arfad/.config/wlogout/icons/reboot.png"));
}
