/* @import "../../.cache/wal/colors-wlogout.css"; */

* {
  font-family:
    "JetBrainsMono Nerd Font",
    Semibold FontAwesome,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  background-image: none;
  transition: 20ms;
}

window {
  /* background-color: url("/home/arfad/Downloads/images/wallheaven.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: image(
    url("/home/arfad/Downloads/images/wallpaper/ado1.png"),
    url("/home/arfad/Downloads/images/wallpaper/ado1.png")
  );
}

button {
  color: #ffffff;
  font-size: 12px;
  /* padding: 10px; */
  /* gap: 4px; */

  background-repeat: no-repeat;
  background-position: center;
  background-size: 18%;

  border-style: solid;
  /* border-radius: 20px; */
  border: 3px #ffffff;
  background-color: rgba(12, 12, 12, 0.8);
  /* transition: all;
  transition-duration: 200ms; */

  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0),
    0 6px 20px 0 rgba (0, 0, 0, 0);
}

button:focus,
button:active,
button:hover {
  /* background-color: rgba(12, 12, 12, 0.2); */
  /* border: 1px solid #54b6c2; */
  /* outline: 2px solid #54b6c2; */
}

#lock {
  margin: 0px;
  border-radius: 0px;
  background-image: image(url("icons/lock.png"));
}
#logout {
  margin: 0px;
  border-radius: 0px;
  background-image: image(url("icons/logout.png"));
}
#suspend {
  margin: 0px;
  border-radius: 0px;
  background-image: image(url("icons/suspend.png"));
}
#hibernate {
  margin: 0px;
  border-radius: 0px;
  background-image: image(url("icons/hibernate.png"));
}
#reboot {
  margin: 0px;
  border-radius: 0px;
  background-image: image(url("icons/reboot.png"));
}
#shutdown {
  margin: 0px;
  border-radius: 0px;
  background-image: image(url("icons/shutdown.png"));
}
